<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_drugunit.description %>
</p>


<%= link_to 'Edit', edit_lookup_drugunit_path(@lookup_drugunit) %> |
<%= link_to 'Back', lookup_drugunits_path %>
