<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
<%= form_for 'nii_file_cnt' do |f|%>
<table><tr><td>vgroup ids between  
<%= f.text_field 'start_id',:value=>@v_start_id %>	and <%= f.text_field 'end_id',:value=>@v_end_id %>
	</td></tr>
<tr><td>
 <%= f.submit %>
	</td></tr></table>

<% end %>

<%else %>	
	
	
<% end %>