<h1>New functional_task_detail</h1>

<% form_for(@functional_task_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', functional_task_details_path %>