<% if current_user.role == 'Admin_High'%>
<h1>Editing employee</h1>

<%= render 'form' %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>
<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
