<% if current_user.role == 'Admin_High'%>

<h1>Editing lookup_eligibility_ineligibility</h1>

<%= render 'form' %>

<%= link_to 'Show', @lookup_eligibility_ineligibility %> |
<%= link_to 'Back', lookup_eligibility_ineligibilities_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>