
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
<h1>Editing schedulerun</h1>

<%= render 'form' %>

<%= link_to 'Show', @schedulerun %> |
<%= link_to 'Back', schedulerun_search_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %>


<%else %>	
	
	
<% end %>

