<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_drugcode.description %>
</p>


<%= link_to 'Edit', edit_lookup_drugcode_path(@lookup_drugcode) %> |
<%= link_to 'Back', lookup_drugcodes_path %>
