<% if current_user.role == 'Admin_High'%>

<h1>New lookup_letterlabel</h1>

<%= render 'form' %>

<%= link_to 'Back', lookup_letterlabels_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>