  <tr class="comment">
    <td><%= h image_comment.name %></td>
    <td><%= h image_comment.comment %></td>
    <td><%= link_to 'Remove', image_comment, :method => :delete, data: { confirm: 'Are you sure?'} %></td>
  </tr>
