<% remote_form_for [image_dataset, image_comment], :id => :new_comment_form do  |f| -%>
  <p><%= f.text_area :comment, :rows => 5, :columns => 40 %></p>
  <p><%= f.submit 'Add Comment' %></p>
<% end -%>