<% # removed :remote => true, and got single insert and page reload !!!  %>
<%= form_for [image_dataset, image_comment],  :format => "html" ,:id => :new_comment_form do  |f| -%>   
  <p><%= f.text_area :comment, :cols => 60, :rows => 10  %></p>
  <p><%= f.submit 'Add Comment' %></p>
<% end -%>