<!--

<div style='padding-top:20px;'>
  <h3>Sharing:</h3>
  <div style='border:solid 1px black;width:105px;'>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle negative" style='padding:2px;'></i>
      <i class="fa fa-circle grey" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
  </div>

  <div style='border:solid 1px black;width:105px;'>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle negative" style='padding:2px;'></i>
      <i class="fa fa-circle grey" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
  </div>
  
  <div style='border:solid 1px black;width:105px;'>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle negative" style='padding:2px;'></i>
      <i class="fa fa-circle grey" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
      <i class="fa fa-circle positive" style='padding:2px;'></i>
  </div>
</div>

<span style='clear:both;'></span>
-->