<h1>Editing MRI appt</h1>

<%= render :partial => 'new_edit', :locals => { :form_action => 'Edit MRI appt'} %>

<br /><%= link_to 'Back to this MRI appt', @visit %> | <%= link_to 'Delete this MRI appt', @visit, :confirm => "Are you sure you want to delete this MRI appt?", :method => :delete %>
