<h1>New MRI appt</h1>
<h2><%= @enumbers.blank? ? @vgroup.rmr : @enumbers.collect{|e| e.enumber }.join(", ") %></h2>
<%= render :partial => 'new_edit', :locals => { :form_action => 'Create MRI appt'} %>
