<div id="heading_and_link">
  <h1><%= @scan_procedure.codename %></h1>
  <p>
    <%= link_to(pluralize(@scan_procedure.vgroups.size,'visit'), '/vgroups/home?vgroups_search[scan_procedure_id][id]='+@scan_procedure.id.to_s) %> 
    underwent this scan procedure
  </p>
</div>

<div class="sticky">
  <%= key_val_table('scan_procedure_details', {
    :code_name => @scan_procedure.codename,
    :subjectid_base => @scan_procedure.subjectid_base,
    :description => @scan_procedure.description,
    :petscan_flag => @scan_procedure.petscan_flag,
    :petscan_tracer_file_size => @scan_procedure.petscan_tracer_file_size,
    :petscan_tracer_path => @scan_procedure.petscan_tracer_path,
    :rmraic_reggieid_flag => @scan_procedure.rmraic_reggieid_flag,
    :make_participant_flag => @scan_procedure.make_participant_flag,
    :alternative_rmr_dicom_field => @scan_procedure.rmr_dicom_field,
    :permission_type => @scan_procedure.permission_type,
    :visit_number_abbreviation => @scan_procedure.visit_number_abbreviation
  })%>
</div>
subjectid_base   is a duplication of the protocol.abbr
<p>
    <% if current_user.role == 'Admin_High'%>
<%= link_to 'Edit this scan procedure', edit_scan_procedure_path(@scan_procedure) %>
   <%end%>
</p>