<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_consentcohort.description %>
</p>


<%= link_to 'Edit', edit_lookup_consentcohort_path(@lookup_consentcohort) %> |
<%= link_to 'Back', lookup_consentcohorts_path %>
