<p id="notice"><%= notice %></p>

<p>
  <strong>File type:</strong>
  <%= @processedimagesfiletype.file_type %>
</p>

<%= link_to 'Edit', edit_processedimagesfiletype_path(@processedimagesfiletype) %> |
<%= link_to 'Back', processedimagesfiletypes_path %>
