body { background-image: url(/images/bkgd.png); background-repeat: repeat-both; margin: 0px; padding: 0px; }
p, h1, h2, h3, th, td, table, tr, li, a, small { font-family: helvetica, arial, sans-serif; color: #444; }
a { text-decoration: none; font-weight: bold; border-bottom: dotted thin; }
a:hover { background-color: #ffffbb; }

table { word-wrap:break-word; }


#top_bar { 
  background-image: url(/images/top_bar.png); 
  background-repeat: repeat-x; 
  margin: 0px; padding: 0em; padding-left: 2em;
  height: 50px;
}
#top_bar h1 { margin: 0; padding: 0; line-height: 1em; color:#228866; float: left; }
#top_bar p { margin: 0; padding: 0; line-height: 2em; color:#397; float: right; margin-right: 1em; }
#top_bar a { margin: 0; padding: 0; color:#397; }

.main { margin: 0 auto 1em auto; padding: 0; width: 1200px; }
.main div.tabs { margin: 0; padding: 0; }
.main div.tabs ul { margin: 0 0 0 0.5em; padding: 0; list-style: none; }
.main div.tabs li.current { background-color: #eee; border-bottom: solid thin #eee; font-weight: bold; }
.main div.tabs li { float: left; margin: 0 0.1em -1px 0.2em; padding: 0.2em 1em 0.2em 1em; 
	background-color: #ccc; border: solid thin; }
.main div.tabs li:hover { background-color: #ffffcc; }
.main div.content { margin: 0; padding: 1em; clear: left; 
	background-color: #eee; border: solid thin; }
	

	.main_vgroup { margin: 0 auto 1em auto; padding: 0; width: 1215px; }
	.main_vgroup div.tabs { margin: 0; padding: 0; }
	.main_vgroup div.tabs ul { margin: 0 0 0 0.5em; padding: 0; list-style: none; }
	.main_vgroup div.tabs li.current { background-color: #eee; border-bottom: solid thin #eee; font-weight: bold; }
	.main_vgroup div.tabs li { float: left; margin: 0 0.1em -1px 0.2em; padding: 0.2em 1em 0.2em 1em; 
		background-color: #ccc; border: solid thin; }
	.main_vgroup div.tabs li:hover { background-color: #ffffcc; }
	.main_vgroup div.content { margin: 0; padding: 1em; clear: left; 
		background-color: #eee; border: solid thin; }

.key_value { text-align:left; font-size:small;  }
.key_value td { margin: 0; padding: 0; font-style: italic;  }
.key_value tr { background-color: transparent; padding:0; margin:0; }
.key_value th { font-weight: bold; background-color:transparent; text-align:right; 
	padding-right:1em; padding-bottom:0.05em; margin:0;
}



.tabular { margin:0 0 1em 0; font-size:80%; }
.tabular { border-collapse:collapse; margin:0; clear:left; width:100%; text-align:center;}
.tabular > caption { background:#006644; color:#228866; font-weight:bold; letter-spacing:0.2em;
	text-align:left; font-size:300%; margin-bottom:-0.6em; padding:0.2em 0.2em 0.2em 0.4em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.tabular > thead > tr > th { background:#006644; color:white; font-weight:normal; padding: 1em; }
.tabular > thead a { color: white; font-weight: normal; border-bottom: none;}
.tabular > thead a:hover { background: inherit; text-decoration: underline;}

.tabular > tbody > tr { border-bottom: solid thin; }
.tabular > tbody > tr:nth-child(even) { background-color: #eee; }
.tabular > tbody > tr:nth-child(odd) { background-color: #ddd; }
.tabular > tbody > tr:hover { background-color:#55bb88; }
.tabular > tbody > tr > td, th { padding: 0.3em 0.5em 0.3em 0.5em; }
.tabular > tfoot { background:#006644; }
.tabular > tfoot > tr > td { padding:0.3em; color:white; }
.tabular > tfoot a { color:#339977; font-size:120%; }
.comment_cell { max-width: 25em; }

.tabular thead .vert {
	font-size:90%;
	text-align: left;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: rotate(320deg) translate(0px,1em);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: rotate(320deg) translate(0px,1em);
	-moz-transform-origin: 0 0;
}

.tabular thead .dead_vert {
	font-size:90%;
	font-weight:bold;
	text-align: left;
	color:#333;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: translate(0px,5px) rotate(270deg);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: translate(0px,5px) rotate(270deg);
	-moz-transform-origin: 0 0;
}


.tabular_no_shade { margin:0 0 1em 0; font-size:80%; }
.tabular_no_shade { border-collapse:collapse; margin:0; clear:left; width:100%; text-align:center;}
.tabular_no_shade > caption { background:#006644; color:#228866; font-weight:bold; letter-spacing:0.2em;
	text-align:left; font-size:300%; margin-bottom:-0.6em; padding:0.2em 0.2em 0.2em 0.4em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.tabular_no_shade > thead > tr > th { background:#006644; color:white; font-weight:normal; padding: 1em; }
.tabular_no_shade > thead a { color: white; font-weight: normal; border-bottom: none;}
.tabular_no_shade > thead a:hover { background: inherit; text-decoration: underline;}
.tabular_no_shade > tbody > tr { border-bottom: solid thin; }
.tabular_no_shade > tbody > tr:nth-child(even) { background-color: #eee; }
.tabular_no_shade > tbody > tr:nth-child(odd) { background-color: #eee; }
.tabular_no_shade > tbody > tr:hover { background-color:#55bb88; }
.tabular_no_shade > tbody > tr > td, th { padding: 0.3em 0.5em 0.3em 0.5em; }
.tabular_no_shade > tfoot { background:#006644; }
.tabular_no_shade > tfoot > tr > td { padding:0.3em; color:white; }
.tabular_no_shade > tfoot a { color:#339977; font-size:120%; }
.comment_cell { max-width: 25em; }

.tabular_no_shade thead .vert {
	font-size:90%;
	text-align: left;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: rotate(320deg) translate(0px,1em);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: rotate(320deg) translate(0px,1em);
	-moz-transform-origin: 0 0;
}

.tabular_no_shade thead .dead_vert {
	font-size:90%;
	font-weight:bold;
	text-align: left;
	color:#333;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: translate(0px,5px) rotate(270deg);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: translate(0px,5px) rotate(270deg);
	-moz-transform-origin: 0 0;
}



.tabular_lighter_highlight { margin:0 0 1em 0; font-size:80%; }
.tabular_lighter_highlight { border-collapse:collapse; margin:0; clear:left; width:100%; text-align:center;}
.tabular_lighter_highlight > caption { background:#006644; color:#228866; font-weight:bold; letter-spacing:0.2em;
	text-align:left; font-size:300%; margin-bottom:-0.6em; padding:0.2em 0.2em 0.2em 0.4em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
.tabular_lighter_highlight > thead > tr > th { background:#006644; color:white; font-weight:normal; padding: 1em; }
.tabular_lighter_highlight > thead a { color: white; font-weight: normal; border-bottom: none;}
.tabular_lighter_highlight > thead a:hover { background: inherit; text-decoration: underline;}
.tabular_lighter_highlight > tbody > tr { border-bottom: solid thin; }
.tabular_lighter_highlight > tbody > tr:nth-child(even) { background-color: #eee; }
.tabular_lighter_highlight > tbody > tr:nth-child(odd) { background-color: #ddd; }
.tabular_lighter_highlight > tbody > tr:hover { background-color:#fffff6; } #55bb88 
.tabular_lighter_highlight > tbody > tr > td, th { padding: 0.3em 0.5em 0.3em 0.5em; }
.tabular_lighter_highlight > tfoot { background:#006644; }
.tabular_lighter_highlight > tfoot > tr > td { padding:0.3em; color:white; }
.tabular_lighter_highlight > tfoot a { color:#339977; font-size:120%; }
.comment_cell { max-width: 25em; }

.tabular_lighter_highlight thead .vert {
	font-size:90%;
	text-align: left;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: rotate(320deg) translate(0px,1em);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: rotate(320deg) translate(0px,1em);
	-moz-transform-origin: 0 0;
}

.tabular_lighter_highlight thead .dead_vert {
	font-size:90%;
	font-weight:bold;
	text-align: left;
	color:#333;
	position:absolute;
	/* IE-only DX filter */
	writing-mode: tb-rl;
	filter: flipv fliph;
	/* Safari/Chrome function */
	-webkit-transform: translate(0px,5px) rotate(270deg);
	-webkit-transform-origin: 0 0;
	/* works in latest FX builds */
	-moz-transform: translate(0px,5px) rotate(270deg);
	-moz-transform-origin: 0 0;
}



.sticky_hole { position:relative; }
.sticky_spawner { margin:0; padding:0; }
.sticky_hole:hover { background-color: #ffffbb; }
.sticky_hole:hover .hidden_sticky { display: block; }
.sticky { background-color: #ffffbb; border: dotted thin; padding: 0.5em; }
.hidden_sticky { display:none; position:absolute; right:-15em; top:1.3em; z-index:1000;
	background-color: #ffffbb; border: dotted thin; padding: 0.5em; min-width: 40em; }

#flash { display: block; margin: 0 0 1em 3em; }

.column_holder { padding: 2em 0 2em 0; }

.left_floater { float:left; padding-right:4em; }

.two_col_left { float: left;  padding-right: 2em; width:45%; }
.two_col_right { float: left;  padding-right: 0em; width:52%; }

.three_col_left { float: left; padding-right: 4em; width:20%; }
.three_col_mid { float: left; padding-right: 1em; width:35%; }
.three_col_right { float: left; padding-right: 0; width:35%; }

#heading_and_link { display: block; margin: 1em 0 2em 0; border-bottom: thin black solid; }
#heading_and_link h1 { display: inline; margin-right: 0.3em; }
#heading_and_link p { display: inline; margin-right: 0.3em; }

.next-previous-links { float: right;}

.image_search_form th { text-align:right; font-weight:normal; padding-right:1em;}
.visit_footer th { text-align:right; font-weight:normal; padding:0; margin:0; }

table.search_form { float:left; margin-right:1em; }
table.search_form th { text-align:right; font-weight:normal; }

.qual_check_label { min-width:40em; }
.current_image_dataset td { font-weight: bold; font-style: italic; border: thin solid #006644; background-color: #006644; }
.current_image_dataset td, .current_image_dataset a {color: #E5E5EE}
.current_image_dataset a:hover { background-color: #5B8;}


.hud_display { border: thick solid purple; background-color:yellow; -webkit-border-radius:10px; 
	width:50em; top:10em; left:50%; margin-left:-25em; position:fixed; padding:2em; 
}


#raw_data_imports { overflow:hidden; clear:both; padding: 40px; }
#raw_data_imports div { margin-bottom: 20px; }

#recent-imports-sidebar h3, #recent-imports-sidebar li { color: #999; font-size: 12px;}
#recent-imports-sidebar ul { list-style:none; padding:0; }

.send_confirmation_box input { padding: 4px; font-size: 14px; color: #666; vertical-align: middle;}

.index_filter { width: 400px; display: table;}

.index_filter form>input, .index_filter form>select { display: table-cell; margin-right: 20px;}


#visit_heading * { display:inline; }
#visit_heading h1 { font-size:32pt; }
#visit_heading p.date { color:#555; font-size:14pt; }
#visit_heading p { font-size:smaller; color:#888; }
#visit_heading a { font-size:smaller; color:#888; border-bottom:none; }

#visit_status_table { border-collapse:collapse; width:100%; }
#visit_status_table tr { border:solid thin #888; }
#visit_status_table th { font-weight:bold; font-size:smaller; color:#444; }
#visit_status_table td { text-align:center; color:#444; }

#dicom_taghash td { vertical-align: top; }
.uid {color: #888; font-size: smaller;}

.visit_search p label { display: block; width: 140px; text-align: right; float: left; clear: both; padding-right: 5px;}
.visit_search select { clear: both;}

#scan_procedure_list { height: 140px; width: 280px; overflow-y: scroll; background-color: #D6D4D2;}
#scan_procedure_list ul { list-style: none; padding-left: 10px; margin-top: 10px}
/* NEWSTUFF {} */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


.directory_list {
 width: 40em;
 font: 10pt 'Courier New',Courier,monospace;
 border: thin #999 solid;
 background: #CCC;
 padding: .5em;
 margin: 1em;
 color: #222;
}

.download_csv { padding-left: 18px; background-image: url(/images/paper-icon.png); background-repeat: no-repeat;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.warning { color: red; font-weight: bold; font-size: 18px;}

#notice {
    color: green;
}

#error {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error ul li {
  font-size: 12px;
  list-style: square;
}


