<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_demographicrelativerelationship.description %>
</p>


<%= link_to 'Edit', edit_lookup_demographicrelativerelationship_path(@lookup_demographicrelativerelationship) %> |
<%= link_to 'Back', lookup_demographicrelativerelationships_path %>
