<%
@var = current_user
# assumming if user has edit on one protocol, can have button , exclude the -1 scan_procedures 
# apply limit protocol  on create , edit in create form  
edit_count =@var.edit_low_scan_procedure_array.split(' ').length 
edit_count = edit_count -1 
%>

<h1>New participant</h1>

<%= form_for(@participant) do |f| %>
  <%= f.error_messages %>
  <% if edit_count > 0 %>
  <p>
    <%= f.submit "Create" %>
  </p>
  <% end %>
<% end %>

<%= link_to 'Back', participants_path %>
