<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
<h1>Editing lumbarpuncture_result</h1>

<%= render 'form' %>

<%= link_to 'Show', @lumbarpuncture_result %> |
<%= link_to 'Back', lumbarpuncture_results_path %>
<%else %>	
	
	
<% end %>
