<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_relationship.description %>
</p>


<%= link_to 'Edit', edit_lookup_relationship_path(@lookup_relationship) %> |
<%= link_to 'Back', lookup_relationships_path %>
