<% if current_user.role == 'Admin_High'%>
<h1>Editing lookup_demographichandedness</h1>

<%= render 'form' %>

<%= link_to 'Show', @lookup_demographichandedness %> |
<%= link_to 'Back', lookup_demographichandednesses_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>