<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
<h1>New question_scan_procedure</h1>

<%= render 'form' %>

<%= link_to 'Back', question_scan_procedures_path %> |
<%= link_to('Question Forms Base', questionformbase_path) %>
<%end%>
