<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
<h1>Editing cg_tn_cn</h1>

<%= render 'form' %>

<%= link_to 'Show', @cg_tn_cn %> |
<%= link_to 'Back', cg_tn_cns_path %> |
<%= link_to('Column Group search/load', '/users/cgbase') %>

<%else %>	
	
	
<% end %>
