<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Low'%>
<h1>Editing mriscantask</h1>

<%= render 'form' %>

<%= link_to 'Show', @mriscantask %> |
<%= link_to 'Back', mriscantasks_path %>
<%else %>	
	
	
<% end %>
