<h1>Editing help</h1>

<h2><%=h @help.question %></h2>

<div style="width:50%">
	<% semantic_form_for @help do |f| %>
		<%= render :partial => 'new_edit', :locals => { :f => f } %>
</div>
<% end %>

<%= link_to 'Cancel', @help %> |
<%= link_to 'Delete this help', @help, :confirm => 'Are you sure you want to delete this help?', :method => :delete %>