<h1>Listing helps</h1>

<table>
  <tbody>
    <% for help in @helps %>
      <tr>
        <td>
			<%=link_to "#{help.question}", help%>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New help', new_help_path %>