<h1>Listing helps</h1>

<table>
  <tbody>
    <% for help in @helps %>
      <tr>
        <td>
			<%=link_to "#{help.question}", help%>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<p>
	<% @tags.each do |tag| %>
		<%= link_to tag, :controller => 'helps', :action => 'tag', :id => tag %>
	<% end %>
</p>

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>

<%= link_to 'New help', new_help_path %>