<div id="help_sidebar">
	<p><%= link_to 'Edit this help', edit_help_path(@help) %></p>
</div>

<div id="help_content">
	<h1><%=h @help.question %></h1>
	<%= RedCloth.new(@help.answer).to_html %>

	<div id="help_details" class="sticky">
		<%= key_val_table("help_details", {
			:Tags => help_tag_links(@help),
			:Created => @help.created_at.to_s(:long),
			:Last_Modified => @help.updated_at == @help.created_at ? nil : @help.updated_at.to_s(:long)		
		})%>
	</div>

	<h3>Related Help:</h3>
</div>