<table border=1>
	  <tr><td align="left" colspan=1 > 
	<%= #@local_column_headers.size  multiple cols cause problem with sort, but one column causes line wrap and a wide column
	 %>   
		 <%= @export_file_title %>
		</td>
      </tr>		
	 <tr>
		<% @local_column_headers.each do |column_header|%>
	      <th><%= column_header%></th>
	    <% end %>	
	 </tr>
	 <% @results.each do |result| %>
		<tr>
		   <% 	for i in 0..@column_number-1  # results is an array of arrays%>
		      <td><%= result[i] %></td>
		   <% end %>
	    </tr>
	 <% end %>
</table>