<% @current_tab = "searches" 

v_key_type = [["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"]]
%>
<% if current_user.role == 'Admin_High' or current_user.role == 'Admin_Medium'%>
                       
<br>
<%= form_tag  '/cg_table_create_db'  do %>
    <H2>Make a cg_table in the database</H2><br>
	 <table width="100%"><tr><td align="left">
		<div class="field">
	    <B>Table Name:</B> a short table name is best.[ <b>cg_</b> ] will be added to the front of the table name. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= text_field_tag "table_name_base" %>
	  </div>
		</td></tr>
        <tr><td  align="left">
	    <B>Key Type</B>: provides linkage to vgroup &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= select_tag "key_type", options_for_select([["enumber and visit# mapped to enrollment/scan_procedure","enrollment/sp"],
["reggieid-participant_id","reggieid-kc-participant_id"],["wrapnum-participant_id","wrapnum-kc-participant_id"],["adrcnum-participant_id","adrcnum-kc-participant_id"]], "enrollment/sp")%>
		</td></tr>
	   <tr><td  align="left">
						  <div class="actions">
						    <%= submit_tag("Create CG table in database") %>
						  </div>
		</td></tr>
		</table>
		<br>
This will make a cg_[ NAME ] table, with associated cg_[ NAME ]_new, cg_[ NAME ]_old and cg_[ NAME ]_edit	<br>
with the following columns- <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- general_comment <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- done_flag <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- status_flag <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- status_comment <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if key type is enrollment/scan procedure ( most common )-<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;subjectid - the enumber for visit1 is just the enumber, for other visit#'s enumber_v# <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;enrollment_id -- mapped programmatically from subjectid <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;scan_procedure_id -- mapped programmatically from subjectid <br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if key type is participant - <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;participant_id --- mapped programmatically from a second field such as reggieid
<% end %>

<%end%>