<% if current_user.role == 'Admin_High'%>
<h1>Editing lookup_rad</h1>

<%= render 'form' %>

<%= link_to 'Show', @lookup_rad %> |
<%= link_to 'Back', lookup_rads_path %>
<% else %>
  Your <%= current_user.role %> role does not allow access. 
<% end %>