<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_eligibility_ineligibility.description %>
</p>


<%= link_to 'Edit', edit_lookup_eligibility_ineligibility_path(@lookup_eligibility_ineligibility) %> |
<%= link_to 'Back', lookup_eligibility_ineligibilities_path %>
