<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_demographicincome.description %>
</p>


<%= link_to 'Edit', edit_lookup_demographicincome_path(@lookup_demographicincome) %> |
<%= link_to 'Back', lookup_demographicincomes_path %>
