<% if current_user.role == 'Admin_High'%>
<h1>Editing Processedimage</h1>

<%= render 'form', processedimage: @processedimage %>

<%= link_to 'Show', @processedimage %> |
<%= link_to 'Back', processedimages_path %>
<%end%>
