<% if current_user.role == 'Admin_High'%>
<h1>Editing Processedimagessource</h1>

<%= render 'form', processedimagessource: @processedimagessource %>

<%= link_to 'Show', @processedimagessource %> |
<%= link_to 'Back', processedimagessources_path %>
<%end%>
