<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_famhx.description %>
</p>


<%= link_to 'Edit', edit_lookup_famhx_path(@lookup_famhx) %> |
<%= link_to 'Back', lookup_famhxes_path %>
