<p id="notice"><%= notice %></p>

<p>
  <b>Appointment:</b>
  <%= @neuropsych.appointment_id %>
</p>


<%= link_to 'Edit', edit_neuropsych_path(@neuropsych) %> |
<%= link_to 'Back', neuropsyches_path %>
