<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_source.description %>
</p>


<%= link_to 'Edit', edit_lookup_source_path(@lookup_source) %> |
<%= link_to 'Back', lookup_sources_path %>
