<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @lookup_cogstatus.description %>
</p>


<%= link_to 'Edit', edit_lookup_cogstatus_path(@lookup_cogstatus) %> |
<%= link_to 'Back', lookup_cogstatuses_path %>
